body {
  width: 80%;
  margin: 0 auto;
}

/*Trabajando el resposive*/
@media (min-width: 1201px){
  h1 {
    text-align: center;
  }

  .datos,
  .descripcion,
  .contenido {
    float: left;
  }

  .datos {
    width: 33%;
  }
  .descripcion {
    width: 33%;
  }

  .contenido {
    width: 33%;
  }
}

@media (min-width: 601px) and (max-width: 1200px) {
  h1{
    text-align: center;
  }

  .datos , .principal
  {
    float: left;
    padding: 0;
    margin: 0;
  }

  .datos{
    width: 30%;
  }

  .principal{
    width: 70%;
  }

  #list{
    justify-content: space-between;
    list-style: none;
    display: flex;
    padding: 0;
  }

  #list li{
    float: lef;
    width: 36%;
  }
}

@media (mix-width: 600px)
{
  .datos ul{
padding-left: 0;
  }

  .datos li{
    display: inline;
  }
  
  .datos li:after{
    content: ";";
  }
}
