body {
  width: 80%;
}

.colum1 {
  width: 25%;
}

.colum2 {
  width: 75%;
}

.container {
  display: flex;
}

h1 {
  text-align: center;
}

.nose {
  display: flex;
  list-style: none;
  padding: 0;
}

.clm {
  width: 33%;
  padding: 0 10px;
}
